<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
    <h1 id="deviceidx">Device 0</h1>
    <button>next</button>
    <button style="background-color: rgb(172, 0, 0); color: white;">DEL</button>
    <button>Refresh Image</button>
    <div>
        <input type="checkbox" id="autoRefresh">
        <label for="autoRefresh">Auto Refresh Image</label>
    </div>
    <div id="image-container"></div>
</body>
</html>